# Entornos virtuales
.venv/
venv/
ENV/

# Ignorar configuraciones locales con datos sensibles
.env
config/odoo.conf

# Archivos temporales de Python y caché
*.py[cod]
*.pyc
_pycache_/
.DS_Store

# Configuración local de IDEs
.vscode/
.idea/
docker-compose.override.yml