/* Sombra y estilo para las tarjetas Kanban de Empleados */
.o_kanban_record.o_hr_employee_kanban {
    border-left: 5px solid #6b1426 !important; /* Rojo Vino Cara Mia */
    border-radius: 8px !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.o_kanban_record.o_hr_employee_kanban:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

/* Color para los nombres en la lista */
.o_data_row td[name="name"] {
    font-weight: 600;
    color: #2c3e50;
}